# g16WPIDML
# .gitignore

phpmyadmin/
Sample IDML/
Commands and stuff.txt

# macOS crap
.DS_Store

# Build directory
g16WPIDML/
g16WPIDML.zip

# Ignore all Wordpress files except for the plugin source code
wordpress/.htaccess
wordpress/*.php
wordpress/*.js
wordpress/*.css
wordpress/*.png
wordpress/*.gif
wordpress/*.svg
wordpress/*.txt
wordpress/*.html

wordpress/wp-admin/*
wordpress/wp-includes/*

wordpress/wp-content/themes/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/index.php

wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/g16WPIDML/
!wordpress/wp-content/plugins/g16WPIDML.bak/
